In [1]:
import pandas as pd
import regex as re

In [2]:
# question 1

Sample_Text = 'Python Exercises, PHP exercises.'

sub_text = re.sub("[ ,.]", ":", Sample_Text)

print(sub_text)

Python:Exercises::PHP:exercises:

In [3]:
# question 2

dictionary = {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

data_frame = pd.DataFrame(dictionary)

data_frame

                  SUMMARY
0           hello, world!
1              XXXXX test
2  123four, five:; six...

In [4]:
data_frame.replace({'SUMMARY':{'!':"",'XXXXX':"",'123':"",',':"",':':"",';':"",...:""}},regex=True)

            SUMMARY
0       hello world
1              test
2  four five six...

In [13]:
# question 3

the_string = 'this will find all words of atleast four characters in the string'

string_pattern = r"\w{4}"

re_pattern = re.compile(string_pattern)

find_4words = re_pattern.findall(the_string) # this will find all words of atleast four characters in the string
find_4words

['this', 'will', 'find', 'word', 'atle', 'four', 'char', 'acte', 'stri']

In [15]:
# question 4

the_string = 'This will find all words of atleast four characters in the string'

string_pattern2 = r"\w{3,5}"

re_pattern2 = re.compile(string_pattern2)

find_words = re_pattern2.findall(the_string) # this will find all words of atleast four characters in the string
print(find_words)

['This', 'will', 'find', 'all', 'words', 'atlea', 'four', 'chara', 'cters', 'the', 'strin']

In [16]:
# question 5

In [17]:
# question 6

In [18]:
#  question 7 

sample_text = "ImportanceOfRegularExpressionsInPython"

sampletext_split = re.split('(?<=.)(?=[A-Z])', sample_text)

sampletext_split

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [19]:
# question 8

In [20]:
# question 9, Create a function in python to insert spaces between words starting with capital letters or with numbers.

Sample_Text ="RegularExpression1IsAn2ImportantTopic3InPython"

sub_cap = re.sub(r"(\w)([A-Z0-9])", r"\1 \2", Sample_Text)

print(sub_cap)

Regular Expression 1Is An 2Important Topic 3In Python

In [22]:
# question 10

#After creating the dataframe extract the first 6 letters of each country and store in the dataframe under 
#a new column called first_five_letters.
  
df_assgn = pd.read_csv("https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv")

df_assgn

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [23]:
df_assgn["first_five_letters"] = df_assgn["Country"].str[:6]

df_assgn

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Benin
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Syria
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Togo

In [2]:
# question 11- A Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

pattern = "^[a-zA-Z0-9_]*$"

In [3]:
# question 12 -

In [4]:
#question 23- Create a function in python to insert spaces between words starting with capital letters.

Sample_Text = "RegularExpressionIsAnImportantTopicInPython"

cap_space = re.sub(r"(\w)([A-Z])", r"\1 \2",Sample_Text)

print(cap_space)

Regular Expression Is An Important Topic In Python

In [ ]:
# question 24, Python regex to find sequences of one upper case letter followed by lower case letters

pattern = '[A-Z]+[a-z]+$'